*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

#nav{
    display: inline-flex;
    padding: 10px;
}

/* span{
    margin-top: 1rem;
} */

.sidenav{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1s;
}

.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
    transition: 0.5ms;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#navSide{
    transition: margin-left .5s;
    padding: 5px;
}



#navSide{
    display :   flex;
    justify-content: space-between;
    margin-top: 10px;
}


.sidemenu{
    margin-left: 1rem;
    font-size: 25px; 
    cursor: pointer
}

#navSide img{
    margin: 0 10px;
}

.row img{
    cursor: pointer;
}
.mic{
    border-radius: 50%;
    background-color: gainsboro;
    cursor: pointer;
}

.mic img{
    padding-top: 0.5rem;
    height: 30px;
}

.maindot{
    padding-left: 18rem !important;
}


.dot{
    cursor: pointer;
    border-radius: 50%;
    padding-top: 6.5px;
    padding-left: 1px;
    width: 45px;
    height: 45px;
}

.dot:hover{
    background-color: #f1f1f1 ;
}

.identify{
    border-radius: 50%;
    color: white;
    background-color: navy;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    margin-top: 1px;
}

.identify:hover{
    background-color: skyblue;
}



.identify p{
    padding-top: 3.5px;
    font-size: larger;
    font-weight: bolder;
}

.row1{
    border-right: 2px solid white;
    height: 40vh;
    width: 6rem;
    background-color: white;
    z-index: 1;
    text-align: center;
}

.row1 a:hover{
    background-color: #f1f1f1;
}

.row1 a{
    margin: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
    font-size: 0.8rem !important;
}

.row2{
    width: 100vw;
    height: 8vh;
    background-color: rgb(247, 245, 245);
}

.tab1{
    width: auto;
    height: 4vh;
    border: solid 0.5px #cacaca;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #808080);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    cursor: pointer;
}

.tab1:hover{
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.tab2 {
    width: auto;
    height: 4vh;
    background-color: rgb(228, 227, 227);
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    cursor: pointer;
}
.tab2:hover{
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

@media screen and (max-width: 992px) {
    .row2{
        height: 14vh;
    }

    .tab1{
        padding:2px;
        height: 3vh;
        font-size: smaller;
    }
    .tab2{
        padding:2px;
        height: 3vh;
        font-size: smaller;
    }
}


.col2row2{
    margin-left: 2rem;
}
.card{
    border: none;
    width: 410px;
}

.card:hover{
    background-color: rgb(228, 227, 227) ;
}

.card-group{
    margin: 10px !important;;
}

.card-body{
    padding: 0 !important;
}

.col2row3{
    margin-left: 0.5rem;
}


@media screen and (max-height:450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 992px) {
    body {
      background-color: rgba(49, 49, 78, 0.356);
    }
    .col2row2{
        margin-left: 0rem;
    }

    iframe{
        width: 180px;
        height: 180px;
    }
    .row1{
        display: none;
    }
    .maindot{
        padding-left: 1rem !important;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: rgba(128, 128, 0, 0.13);
    }
    .row1{
        display: none;
    }
    .row2{
        width: 92%;
        height: 20vh;
        margin-left: 20px;
    }

    .tab1{
        padding:2px;
        height: 3vh;
        font-size: smaller;
    }
    .tab2{
        padding:2px;
        height: 3vh;
        font-size: smaller;
    }
    .maindot{
        padding-left: 9rem !important;
    }
    .logo{
        margin-left: 8rem !important;
    }
    .card{
        flex-direction: row;
    }
    .card-body{
        padding: 10px !important;
    }
  }

