*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(250, 253, 253);
}

/* ==============================Styles for the Nav Bar */

#nav{
    display: inline-flex;
    padding: 10px;
}

span{
    margin-top: 1rem;
}

.sidenav{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1s;
}

.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
    transition: 0.5ms;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#navSide{
    transition: margin-left .5s;
    padding: 5px;
}

#navSide{
    display :   flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sidemenu{
    margin-left: 1rem;
    font-size: 25px; 
    cursor: pointer
}

#navSide img{
    margin: 0 10px;
}

button{
    width: 6rem;
}

.logo{
    padding-bottom: 9px;
}


.row img{
    cursor: pointer;
}
.mic{
    cursor: pointer;
    margin-left: 1rem !important;
    border-radius: 50%;
    background-color: ghostwhite;
}

.mic img{
    padding-top: 0.5rem;
    height: 30px;
}

.maindot{
    display: flex;
    justify-content: space-around;
}

.dot{
    cursor: pointer;
    border-radius: 50%;
    padding-top: 6.5px;
    padding-left: 1px;
    width: 45px;
    height: 45px;
}

.dot:hover{
    background-color: #f1f1f1 ;
}

.identify{
    border-radius: 50%;
    color: white;
    background-color: purple;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    margin-top: 1px;
    padding-right: 4px;
}

.identify:hover{
    background-color: rgb(7, 7, 177);
}

.identify p{
    padding-top: 4.5px;
    font-size: larger;
    font-weight: bolder;
}

/* ====================== End of Styles for the Nav Bar */

.contain{
    width: 80%;
    height: auto;
    margin: auto;
}

.colLeft{
   
}

.colLeft .card{
    width: 100%;
    height: 80vh;
    border: none;
}

.colLeft .card iframe{
    width: 100%;
    height: 100%;
}

.snip{
    display: flex;
    justify-content: space-around;
}

.sub {
    font-size: 0.8rem;
}

.colRight{
    background-color: white;
    height: autp;
    margin-top: 10px;
    padding: 0 ;
}

.colRight .ad1{
    width: 100%;

}
.colRight .row .ad2 img {
    width: 50px ;
    margin: 12px 15px 1px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .ttt{
height: 100px;
border: solid 1px blue;
} */

.adText{
    margin-top: 10px;
    
}
.spen{
    background-color: rgb(255, 207, 117);
    padding: 0px 3px 0px 4px;
    margin-top: 0px;
}

.card{
    width: 100% !important;
    padding: 0 !important ;
    margin-top: 10px;
}

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
}

.colRight .card{
    border: none;

}

.colRight .card-title{
    font-size: 0.8rem;
}

.colRight iframe {
    width: 100%;
    height: 90%;
}

@media screen and (max-width:576px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 992px) {
}



#module {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  #module #collapseExample.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
  }
  
  #module #collapseExample.collapsing {
    height: 3rem;
  }
  
  #module a.collapsed:after {
    content: 'Show More';
  }
  
  #module a:not(.collapsed):after {
    content: 'Show Less';
  }




  
#module2 {
    font-size: 1rem;
    line-height: 1;
  }
  
  #module2 #collapseExample2.collapse:not(.show) {
    display: block;
    height: 0rem;
    overflow: hidden;
  }
  
  #module2 #collapseExample2.collapsing {
    height: 0rem;
  }
  
  #module2 a.collapsed:after {
    content: 'Show 4 replies';
  }
  
  #module2 a:not(.collapsed):after {
    content: 'hide 4 replies';
  }


  
#module3 {
    font-size: 1rem;
    line-height: 1;
  }
  
  #module3 #collapseExample2.collapse:not(.show) {
    display: block;
    height: 0rem;
    overflow: hidden;
  }
  
  #module3 #collapseExample2.collapsing {
    height: 0rem;
  }
  
  #module3 a.collapsed:after {
    content: 'Show 3 replies';
  }
  
  #module3 a:not(.collapsed):after {
    content: 'hide 3 replies';
  }


  #module4 {
    font-size: 1rem;
    line-height: 1;
  }
  
  #module4 #collapseExample4.collapse:not(.show) {
    display: block;
    height: 0rem;
    overflow: hidden;
  }
  
  #module4 #collapseExample4.collapsing {
    height: 0rem;
  }
  
  #module4 a.collapsed:after {
    content: 'Show 10 replies';
  }
  
  #module4 a:not(.collapsed):after {
    content: 'hide 10 replies';
  }